.whip {
    animation: whip 0.5s linear 1s 1 normal none;
}

.again {
    text-decoration: none;
    color: yellow;
    animation: flicker 1s linear 3s 1 normal none;

}
.trick {
    display: inline-block;
    margin: 18px;
    animation: rotate-90 2s linear 0s 1 normal none;
}

.shapeshift {
    display: inline-block

}